configuration {
  combi-modes: "drun,run";
  modes: "combi";

  show-icons: true;

  // Enable fuzzy matching
  matching: "regex";

  // HiDPI support
  dpi: ${ROFI_DPI};

  // Key bindings
  kb-accept-entry: "Return,KP_Enter";
}

@theme "theme.rasi"

